@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
}

.font-title {
  font-family: var(--font-custom-title) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(top top to right, #e4e4e7, #fafafa);
}

a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"])
)) {
  text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.5);
}
a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"])
)):after {
  content: ' ' url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNqEkIEJwCAMBGPpEs7hHK6hY+gauoZr6Bo6RtqEWkxb6EMQnuM/USEirIoxSmOKwDkhBEwp4VPkb4801Xun9xW4e+9FldYarLUvkBPPOp4JGWOgtSaSt6VWQKUU9nPOEiSIgAmNMdadFTjn7utqrXwh6fLvH9nXhamW5ksMnpfDnw4BBgBfunO056MmqAAAAABJRU5ErkJggg==);
}

a {
  margin:0 0.5rem;
  padding:0 0.25rem;
}

a:hover {
  color: #991b1b;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: var(--font-title);
  font-weight: 700;
  border-bottom: 1px solid #fff;
  background-color: rgba(255,255,255,.5);
  padding: 0 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.text-shadow{
  text-shadow: 0 0 .75rem rgba(0,0,0,.25);
}

.mega-menu {
  left: 0;
  right: 0;
  top:0;
  position: absolute;
  overflow: hidden;
  text-align: left;
  width: 100vw;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  margin-top:-200vh;
  transform: rotateX(90deg);
}

.toggle-input:checked ~ .mega-menu {
  animation: slidetop 1s;
  margin-top: 0;
  transform: rotateX(0);
}

.toggle-input:checked + label {
  margin-top: 0;
  transform: rotateX(0);
}
